h1 {
    font-family: 'Dancing Script', cursive;
font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto Slab', serif;

font-size: 5rem;
}



/* @media (min-width:768px){
    .content {
        padding-top: 60px;
    
    }
} */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
body{
    height: 100vh;
} 
.container{
    height: 85%;
}
