h1 {
    font-family: 'Dancing Script', cursive;
font-family: 'Fira Sans', sans-serif;
font-family: 'Roboto Slab', serif;

font-size: 5rem;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
.yo {
    padding-top: 200px;
}

@media (max-width:1401px){
    .yo {
        padding-top: 70px;
    
    }
}
