{% extends 'jobs/base.html' %}

{% block title %}Jobs{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
    <div class="row justify-content-center mt-3">
      <div class="col-md-8 col-sm-12 position-relative">
          <table class="table">
            <thead>
              <tr>
                <th>Job Position</th>
                <th>Company Name</th>
                <th>Job URL</th>
                <th>Applied Date</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            {% for job in jobs %}

            <tbody>
              <tr>
                <td><a href="{% url 'show' job.id %}">{{job.title}}</a></td>
                <td>{{job.companyname}}</td>
                <td><a href="{{job.url}}" target="_blank">{{ job.url|truncatechars:40 }}</a></td>
                <td>{{job.created_at|date:'Y-m-d, H:i'}}</td>
                <td><mark>{{job.status}}</mark></td>
                <td><a href="{% url 'edit' job.id%}" >Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'delete' job.id %}" >Delete</a></td>

              </tr>
            </tbody>
          {% endfor %}    
          </table>
          <a href="{% url 'new' %}" class="btn btn-warning">Add a New Job</a>
      </div>
    </div>
{% endblock %}
