
{% extends 'jobs/base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
    <div class="container d-flex align-items-center justify-content-center">
        <div class="col-md-8 col-sm-12 position-relative content-body">
            <div class="row">
                <div class="col-md-8">
                    <!-- <img src="{% static 'images/logo.png' %}" alt="My image"> -->
                    <h1>Jobs Activity</h1>
                    <br>
                    <p>Jobs Activity is a platform for managing all of the jobs you have applied for.</p>
                        
                    <p>To ensure you don't forget the positions you applied for, compile a list of them.</p>
                    <br>
                    <div class="d-flex">
                        <div class="input-group w-auto">
                            <!-- <input type="text" class="form-control" placeholder="Email address" /> -->
                            <!-- <button class="btn btn-primary" type="button">CREATE FREE ACCOUNT</button> -->
                            {% if user.is_authenticated %}
                                <a href="{% url 'home'%}" class="btn btn-warning">View My Jobs</a>
                            {% else %}
                                <a href="{% url 'signup'%}" class="btn btn-warning">CREATE FREE ACCOUNT</a>
                            {% endif %}
                        </div>
                    </div>
                    <br>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid" src="{% static 'images/logo.png' %}" alt="My image">
                </div>

            </div>
        </div>
    </div>

    
<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">&copy; {{year}}    Made with<span style="font-size:200%;color:red;">&hearts;</span> by <a href="https://www.linkedin.com/in/sampurna-chapagain-282331140/"target="_blank">Sampurna Chapagain</a></span> 
    </div>
</footer>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fira+Sans&family=Roboto+Slab&display=swap');
</style>
{% endblock %}
