{% extends 'jobs/base.html' %}
{% block content %}

    <div class="row justify-content-center mt-3">
      <div class="col-md-8 col-sm-12 position-relative">
          <h3>Job Title:  {{job.title}}</h3>
          <p>Company Name:  {{job.companyname}}</p>
          <p>Job URL:  <a href="{{job.url}}" target="_blank">{{ job.url|truncatechars:40 }}</a></p>
          <p>Job Applied at:  {{job.created_at|date:'Y-m-d'}}</p>
          <p>Extra Notes:  {% if job.extra_note is not None %}
            {{job.extra_note}}
            {%else%}
            N/A
          {% endif %}</p>

          <a href="{% url 'new' %}" class="btn btn-warning">Add a New Job</a>
      </div>
    </div>
{% endblock %}
